@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital@1&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.2/css/all.min.css");
@import url("https://fonts.googleapis.com/css?family=Corben:700");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  max-width: 1920px;
  margin: auto;
}

.main-header {
  text-align: center;
  position: relative;
}
.main-header h1 {
  width: 100%;
  position: absolute;
  left: 50%;
  background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/209981/6963bbf342d87b3a2150bd8f59682b89.jpg);
  -webkit-background-clip: text;
          background-clip: text;
  background-size: contain;
  letter-spacing: 2px;
  color: transparent;
  transform: translate(-50%, -50%);
  font-size: 5vw;
  font-family: "frozen", serif;
  font-weight: 700;
}
.main-header h1::before {
  content: attr(data-heading);
  position: absolute;
  left: 0;
  top: 1px;
  width: 100%;
  background: linear-gradient(45deg, rgba(255, 255, 255, 0) 45%, rgba(255, 255, 255, 0.8) 50%, rgba(255, 255, 255, 0) 55%, rgba(255, 255, 255, 0) 100%);
  -webkit-background-clip: text;
          background-clip: text;
  color: transparent;
  mix-blend-mode: screen;
  -webkit-animation: shine 1s infinite;
          animation: shine 1s infinite;
  background-size: 200%;
  text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2), -2px 2px 10px rgba(0, 0, 0, 0.2), -2px -2px 10px rgba(0, 0, 0, 0.2);
}

@media screen and (max-width: 800px) {
  .main-header {
    padding: 50px;
  }
  .main-header h1 {
    font-size: 5vw;
  }

  @-webkit-keyframes shine {
    0% {
      background-position: -100%;
    }
    100% {
      background-position: 100%;
    }
  }

  @keyframes shine {
    0% {
      background-position: -100%;
    }
    100% {
      background-position: 100%;
    }
  }
  /* Not needed for demo */
  @font-face {
    font-family: "frozen";
    src: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/209981/Ice%20kingdom%20-%20Bold%20-%20Por%20Kustren.woff");
  }
}
@media screen and (max-width: 320px) {
  .main-header {
    width: 250px;
    margin: auto;
  }
  .main-header h1 {
    font-size: 8vw;
    position: relative;
    top: 50px;
    left: 50%;
  }
}
.hero {
  max-width: 1920px;
  margin: auto;
  background-image: radial-gradient(50% 176%, #253854 80%, #061922 100%);
  min-height: 60rem;
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
}
.hero__content {
  align-self: center;
  padding: 2rem 0;
}
@media screen and (max-width: 800px) {
  .hero__content {
    position: relative;
    top: 0px;
  }
}

.snow {
  z-index: 0;
  position: absolute;
  min-width: 100vw;
  min-height: 100vh;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}

.snow .svg {
  position: absolute;
  width: 100%;
  height: 100%;
}

#snow-top-layer {
  will-change: transform;
  transform: translateY(-768px);
  -webkit-animation: fall 22.5s infinite linear;
          animation: fall 22.5s infinite linear;
}

#snow-bottom-layer {
  will-change: transform;
  transform: translateY(-768px);
  -webkit-animation: fall 45s infinite linear;
          animation: fall 45s infinite linear;
}

@-webkit-keyframes fall {
  100% {
    transform: translateY(0);
  }
}

@keyframes fall {
  100% {
    transform: translateY(0);
  }
}
.lists {
  display: grid;
  grid-template-columns: auto auto auto;
  margin-top: 100px;
  gap: 20px;
}

@media screen and (max-width: 800px) {
  .lists {
    display: grid;
    justify-content: center;
    grid-template-columns: auto;
    margin-top: 60px;
    gap: 20px;
  }
}
.r-container {
  position: relative;
  font-family: "Playfair Display", serif;
  margin: auto;
  width: 400px;
  height: 550px;
  box-shadow: 5px 5px 5px;
  border-radius: 2%;
}
.r-container img {
  width: 100%;
  height: 100%;
  opacity: 50%;
  border-radius: 2%;
}
.r-container .r-text {
  position: absolute;
  top: 0;
  right: 70px;
}
.r-container header {
  display: flex;
  justify-content: center;
  margin: 20px;
  padding-top: 20px;
}
.r-container header h2 {
  color: #b0c3ff;
}
.r-container section {
  display: flex;
  justify-content: center;
}
.r-container ul {
  z-index: 1;
}
.r-container ul li {
  color: #9eb4ff;
  font-size: 18px;
  font-weight: bold;
  padding: 5px;
  list-style-type: none;
}
.r-container ul li a {
  padding: 5px;
  text-decoration: none;
  color: #a7bcff;
}
.r-container ul li a:hover {
  background-color: rgba(155, 26, 148, 0.664);
  transition: 500ms;
  border-radius: 10%;
}
.r-container ul #pi3 {
  text-decoration: line-through;
}
.r-container form {
  display: flex;
  justify-content: center;
  padding: 30px 0;
}
.r-container form input {
  z-index: 1;
  width: 50px;
  height: 30px;
  margin: 0 10px;
}
.r-container form label {
  font-size: 20px;
  color: white;
}
.r-container form button {
  z-index: 1;
  padding: 5px;
  margin: 0 5px;
}

@media screen and (max-width: 800px) {
  .r-container {
    margin-left: 80px;
    margin-right: 80px;
  }
}
.info {
  background-image: url(../img/sandvej11.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  margin: auto;
  width: 400px;
  height: 550px;
  box-shadow: 5px 5px 5px;
  border-radius: 2%;
}
.info p {
  color: white;
  text-align: center;
  padding: 60px 30px;
  font-size: 18px;
}
.info p img {
  width: 50%;
}

.v-container {
  font-family: "Playfair Display", serif;
  margin: auto;
  background-image: url(../img/brev-baggrund.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 400px;
  height: 550px;
  box-shadow: 5px 5px 5px;
  border-radius: 2%;
}
.v-container header {
  display: flex;
  justify-content: center;
  margin: 40px;
  padding-top: 20px;
}
.v-container header h2 {
  color: black;
}
.v-container section {
  display: flex;
  justify-content: center;
}
.v-container ul {
  z-index: 1;
}
.v-container ul li {
  color: black;
  font-size: 18px;
  font-weight: bold;
  padding: 5px;
  list-style-type: none;
}
.v-container ul li a {
  padding: 5px 0;
  text-decoration: none;
  color: black;
}
.v-container ul li a:hover {
  background-color: rgba(228, 175, 61, 0.664);
  transition: 500ms;
}
.v-container ul #di4 {
  text-decoration: line-through;
}
.v-container ul #di6 {
  text-decoration: line-through;
}
.v-container form {
  display: flex;
  justify-content: center;
  padding: 30px 0;
}
.v-container form input {
  z-index: 1;
  width: 50px;
  height: 30px;
  margin: 0 10px;
}
.v-container form label {
  font-size: 20px;
  color: white;
}
.v-container form button {
  z-index: 1;
  padding: 5px;
  margin: 0 5px;
}
@media screen and (max-width: 800px) {
  .v-container .v-container {
    margin-left: 80px;
    margin-right: 80px;
  }
}/*# sourceMappingURL=main.css.map */